@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;



.button {
    border-width: 1px;
    border-style: solid;
    border-radius: $br-lg;
    text-align: center;
    cursor: pointer;
}

.button--small {
    @extend .button;

    padding: 8px 24px;
}

.button--medium {
    @extend .button;

    padding: 12px 28px;
}

.button--large {
    @extend .button;

    padding: 16px 32px;
}


// Small

.button--small--sky-light {
    @extend .button--small;

    background-color: $sky-100;
    border-color: $sky-900;
    color: $neutral-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $sky-200;
        transition: background-color 150ms;
    }
}

.button--small--sky-dark {
    @extend .button--small;

    background-color: $sky-900;
    border-color: $sky-800;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $sky-800;
        transition: background-color 150ms;
    }
}

.button--small--emerald-light {
    @extend .button--small;

    background-color: $emerald-50;
    border-color: $emerald-900;
    color: $emerald-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $emerald-100;
        transition: background-color 150ms;
    }
}

.button--small--fuchsia-dark {
    @extend .button--small;

    background-color: $fuchsia-900;
    border-color: $fuchsia-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $fuchsia-800;
        transition: background-color 150ms;
    }
}

.button--small--rose-dark {
    @extend .button--small;

    background-color: $rose-900;
    border-color: $rose-800;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $rose-800;
        transition: background-color 150ms;
    }
}

.button--small--neutral-dark {
    @extend .button--small;

    background-color: $neutral-800;
    border-color: $neutral-600;
    color: $neutral-100;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-700;
        transition: background-color 150ms;
    }
}

.button--small--neutral-light {
    @extend .button--small;

    background-color: $neutral-50;
    border-color: $neutral-900;
    color: $neutral-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-100;
        transition: background-color 150ms;
    }
}

.button--small--inactive {
    @extend .button--small;

    background-color: $neutral-100;
    border: 1px solid $neutral-200;
    color: $neutral-400;
    transition: background-color 300ms;
    cursor: not-allowed;
}


// Medium

.button--medium--amber-dark {
    @extend .button--medium;

    background-color: $amber-800;
    border-color: $amber-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $amber-700;
        transition: background-color 150ms;
    }
}

.button--medium--emerald-dark {
    @extend .button--medium;

    background-color: $emerald-800;
    border-color: $emerald-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $emerald-700;
        transition: background-color 150ms;
    }
}

.button--medium--emerald-light {
    @extend .button--medium;

    background-color: $emerald-50;
    border-color: $emerald-900;
    color: $emerald-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $emerald-100;
        transition: background-color 150ms;
    }
}

.button--medium--rose-dark {
    @extend .button--medium;

    background-color: $rose-900;
    border-color: $rose-800;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $rose-800;
        transition: background-color 150ms;
    }
}

.button--medium--neutral-dark {
    @extend .button--medium;

    background-color: $neutral-800;
    border-color: $neutral-600;
    color: $neutral-100;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-700;
        transition: background-color 150ms;
    }
}

.button--medium--neutral-light {
    @extend .button--medium;

    background-color: $neutral-50;
    border-color: $neutral-900;
    color: $neutral-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-100;
        transition: background-color 150ms;
    }
}

.button--medium--inactive {
    @extend .button--medium;

    background-color: $neutral-100;
    border: 1px solid $neutral-200;
    color: $neutral-400;
    transition: background-color 300ms;
    cursor: not-allowed;
}

.button--medium--fuchsia-dark {
    @extend .button--medium;

    background-color: $fuchsia-900;
    border-color: $fuchsia-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $fuchsia-800;
        transition: background-color 150ms;
    }
}

// Large

.button--large--amber-dark {
    @extend .button--large;

    background-color: $amber-800;
    border-color: $amber-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $amber-700;
        transition: background-color 150ms;
    }
}

.button--large--sky-dark {
    @extend .button--large;

    background-color: $sky-900;
    border-color: $sky-800;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $sky-800;
        transition: background-color 150ms;
    }
}

.button--large--fuchsia-light {
    @extend .button--large;

    background-color: $fuchsia-100;
    border-color: $fuchsia-600;
    color: $fuchsia-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $fuchsia-200;
        transition: background-color 150ms;
    }
}

.button--large--fuchsia-dark {
    @extend .button--large;

    background-color: $fuchsia-900;
    border-color: $fuchsia-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $fuchsia-800;
        transition: background-color 150ms;
    }
}

.button--large--rose-dark {
    @extend .button--large;

    background-color: $rose-900;
    border-color: $rose-800;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $rose-800;
        transition: background-color 150ms;
    }
}

.button--large--emerald-light {
    @extend .button--large;

    background-color: $emerald-50;
    border-color: $emerald-900;
    color: $emerald-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $emerald-100;
        transition: background-color 150ms;
    }
}

.button--large--emerald-dark {
    @extend .button--large;

    background-color: $emerald-800;
    border-color: $emerald-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $emerald-700;
        transition: background-color 150ms;
    }
}

.button--large--neutral-dark {
    @extend .button--large;

    background-color: $neutral-800;
    border-color: $neutral-600;
    color: $neutral-100;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-700;
        transition: background-color 150ms;
    }
}

.button--large--neutral-light {
    @extend .button--large;

    background-color: $neutral-200;
    border-color: $neutral-300;
    color: $neutral-900;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-100;
        transition: background-color 150ms;
    }
}

.button--large--inactive {
    @extend .button--large;

    background-color: $neutral-100;
    border: 1px solid $neutral-200;
    color: $neutral-400;
    transition: background-color 300ms;
    cursor: not-allowed;
}


// Others

.index-button {
    width: 44px;
    height: 44px;
    padding: .5rem;
    border-radius: $br-md;
    cursor: pointer;
    text-align: center;
    line-height: 0%;
}

.index-button--neutral {
    @extend .index-button;

    background-color: $neutral-200;
    border: 1px solid $neutral-300;
    color: $neutral-600;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-100;
        transition: background-color 150ms;
    }
}

.index-button--neutral--active {
    @extend .index-button;

    background-color: $neutral-800;
    border: 1px solid $neutral-700;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $neutral-700;
        transition: background-color 150ms;
    }
}

.index-button--rose {
    @extend .index-button;

    background-color: $rose-900;
    border: 1px solid $rose-800;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $rose-800;
        transition: background-color 150ms;
    }
}

.index-button--emerald {
    @extend .index-button;

    background-color: $emerald-800;
    border: 1px solid $emerald-600;
    color: $white;
    transition: background-color 300ms;

    &:hover {
        background-color: $emerald-700;
        transition: background-color 150ms;
    }
}

.sort-filter-button {
    @extend .button--small--neutral-light;
    @include flex-center-all-hor;

    gap: .5rem;
    border-radius: $br-round;
    padding: .75rem 1rem;
    min-width: 100px;

    img {
        width: 18px;
        height: auto;
    }
}

.sort-filter-button--active {
    @extend .button--small--neutral-dark;
    @include flex-center-all-hor;

    gap: .5rem;
    border-radius: $br-round;
    padding: .75rem 1rem;
    min-width: 100px;

    img {
        width: 18px;
        height: auto;
    }

    p {
        color: $neutral-200;
    }
}